.my-order{
    box-shadow: rgb(0 0 0 / 8%) 0px 2px 8px 0px;
    padding: 40px 24px;
}

.my-order table, thead, tbody, tr, th, td{
    border:0;
    text-align: center;
}

.my-order table th{
    font-weight: 100;
}
.my-order table tr{
    border-radius: 10px;
}
.my-order table tbody tr td{
    background-color: rgb(233, 248, 248);
    padding: 20px 0;
}