.text-main{
    color: #ff385c;
}
.logo{
    color: #ff385c!important;
}
.search-form{
    position: relative;
    width: 350px;
    border: 1px solid #DDDDDD !important;
    box-shadow: 0px 1px 2px rgb(0 0 0 / 8%), 0px 4px 12px rgb(0 0 0 / 5%) !important;
    border-radius: 40px;
}
.search-field{
    padding-right: 50px;
    border-radius: 40px;
}
.search-btn{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff385c;
    border-radius: 50%;
    width: 32px;
    height: 32px;
    margin: 3px 7px 7px 0 !important;
    padding: 10px;
}
.search-btn:hover{
    background-color: #ff385c;
}
.search-btn svg{
    display: block;
    fill: none;
    height: 12px;
    width: 12px;
    stroke: currentcolor;
    stroke-width: 5.33333;
    overflow: visible;
}

.user-photo{
    width: 28px!important;
    height: 28px;
    border-radius: 50%;
    color: #ff385c;
}