.banner{
    height: 100vh;
    background-image: url('../../images/bannerBackground.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    display: flex;
    align-items: center;
}

.banner-content h1{
    font-size: 61px;
}
.banner-content p{
    font-size: 20px;
}